body{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}
.conteiner{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 100;
}
.bg{
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 1;
}
.logo{
    margin-top: 41px;
}
span{
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
    font-size: 60px;
    letter-spacing: 0.1em;
    color: #fff;
}
.tittle_d{
    font-weight: 600;
    font-size: 16px;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    text-align: center;
    color: #fff;
}
.scroll{
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0.34em;
    text-align: center;
    color: #fff;
    margin-bottom: 71px;
}
.header{
    padding: 24px 0;
}
.conteiner_menu{
    max-width: 1442px;
    width: 100%;
    margin: 0 auto;
}
.header_row{
    display: flex;
    align-items: center;
    gap: 451px;
}
.logo_black{
    margin-left: 251px;
}
.menu{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    gap: 40px;
}

.menu-link{
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.09em;
    text-align: center;
    color: #48555b;
    text-decoration: none;
}
.menu-link-blue{
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.09em;
    text-align: center;
    color: #00a4e5;
    text-decoration: none;
}
.menu-link:hover{
    color: #00a4e5;
}
.menu-link-blue:hover{
    color: #48555b;
}




